/* CSS Start */
body {
  /* margin: 10px 10px;
  padding: 10px 10px;
  /* width: 80%; */
  /* box-sizing: border-box; */ 
}
/* h1{
    color: aliceblue;
} */

/* Map */
#map {
    height: 500px;
    width: 500px;
}
 