/* CSS Start */
 body {
  margin: 50px;
  padding: 65px;
  width: 80%;
  box-sizing: border-box;
 }  
/* h1{
    color: aliceblue;
} */

/* Map */
#map {
    height: 700px;
    width: 700px;
    padding: 10px;
}
 #navbar {
   padding: 30px;
 }